* {
  margin: 0;
  font-family: Open Sans, sans-serif;
  font-weight: 300;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.header {
  height: 133px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header.tall {
  height: 300px;
}
#menu {
  display: none;
}
.menu-item {
  margin: 0 10px;
  display: inline-block;
  font-weight: 300;
  font-size: 22px;
  list-style-type: none;
}
.menu-item.active {
  display: block;
}
.first-paragraph:first-of-type:first-letter {
  float: left;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-weight: 600;
  font-size: 80px;
  line-height: 65px;
}
.read-more, .read-less {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: right;
}
.read-more a, .read-less a {
  font-weight: 600;
}
.more-content {
  display: none;
}
#learnmore {
  margin-top: 10px;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 22px;
}
#yellow {
  height: 100px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#social {
  width: 80px;
  margin: auto;
  background-color: inherit;
  display: flex;
  justify-content: space-between;
}
body {
  background-color: #f0efef;
}
h1 {
  margin-top: 45px;
  font-weight: 800;
  font-size: 30px;
  color: #ffffff;
}
ul {
  margin: 50px 0;
  line-height: 30px;
  cursor: pointer;
}
main {
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
}
section {
  width: 70%;
  margin-right: 40px;
}
h2 {
  font-weight: 600;
  font-size: 40px;
}
img {
  width: 100%;
  margin: 30px 0;
}
a {
  text-decoration: none;
}
a:visited {
  color:inherit;
}
article {
  border-bottom: solid 1px gray;
  margin-bottom: 50px;
}
article p {
  font-size: 24px;
  color: gray;
  line-height: 36px;
}
aside {
  width: 25%;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  flex-direction: column;
}
h3, h4 {
  font-weight: 800;
  font-size: 32px;
  margin-bottom: 20px;
}
h4 {
  margin-top: 30px;
}
aside p {
  font-size: 20px;
}
aside img {
  width: 100%;
}
button {
  width: 200px;
  border: none;
  border-radius: 5px;
  padding: 15px;
  font-weight: 800;
  font-size: 15px;
  text-align: center;
  color: #ffffff;
}
footer {
  background-color: #121212;
  text-align: center;
}
h5 {
  padding: 50px 0 20px 0;
  font-weight: 800;
  font-size: 30px;
}
div img {
  width: auto;
  height: 20px;
}
footer p{
  padding-top: 30px;
  padding-bottom: 50px;
  font-weight: 600;
  font-size: 10px;
  color: #ffffff;
}

/*media queries*/

@media (max-width: 1000px) {
  h2 {
    font-size: 30px;
  }
  h3, h4 {
    font-size: 28px;
  }
  article p, aside a, aside p {
    font-size: 18px;
    line-height: 30px;
  }
  #learnmore {
    font-size: 20px;
  }
}

@media (max-width: 768px){
  #menu {
    display: block;
    cursor: pointer;
  }
  .menu-item {
    display: block;
    text-align: right;
    display: none;
  }
  main {
    flex-flow: wrap column;
  }
  section {
    width: 100%;
  }
  aside {
    width: 100%;
  }
  aside img {
    display: none;
  }
}
